KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/cpu/cpu.o \
$(ARCHDIR)/cpu/fpu.o \
$(ARCHDIR)/cpu/mcpuid.o \
$(ARCHDIR)/cpu/mport.o \
$(ARCHDIR)/interrupts/idt_asm.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/isrs/cpu_exceptions.o \
$(ARCHDIR)/interrupts/isrs/timer.o \
$(ARCHDIR)/interrupts/isrs/keyboard.o \
$(ARCHDIR)/interrupts/isrs/mouse.o \
$(ARCHDIR)/16bit-executer_wrapper.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/a20.o \
$(ARCHDIR)/enable_a20_32.o \
$(ARCHDIR)/syscall_asm.o \
$(ARCHDIR)/process_asm.o \
$(ARCHDIR)/process.o \

