KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/idt_asm.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/drivers/timer.o \
$(ARCHDIR)/drivers/keyboard.o \
$(ARCHDIR)/isrs/cpu_exceptions.o \
$(ARCHDIR)/isrs/timer.o \
$(ARCHDIR)/isrs/keyboard.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/mcpuid.o \
$(ARCHDIR)/enable_a20_32.o \
$(ARCHDIR)/mport.o \
$(ARCHDIR)/vga_basic.o \
$(ARCHDIR)/mconio.o \
$(ARCHDIR)/basic_tests.o \
